<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/index.css">
    <title>Welcome to Flowers galley</title>
</head>
<body>
 <h2>Welcome to Flowers Gallery</h2>
<div class="responsive">
  <div class="gallery">
      <img src="https://images.unsplash.com/photo-1491866766009-1292fd127204?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXx6SXljTmpESDVsOHx8ZW58MHx8fHx8" alt="yellow" width="600" height="400" class="expandable-image">
      <div class="desc">Sunshine!!</div>
  </div>
</div>


<div class="responsive">
  <div class="gallery">
      <img src="https://images.unsplash.com/photo-1538998073820-4dfa76300194?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8dHVsc2klMjBwbGFudHxlbnwwfHwwfHx8MA%3D%3D" alt="lotus" width="600" height="400" class="expandable-image">
      <div class="desc">Lotus.</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
      <img src="https://images.unsplash.com/photo-1518895949257-7621c3c786d7?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTd8MjA5MjI3NHx8ZW58MHx8fHx8" alt="rose" width="600" height="400" class="expandable-image">
      <div class="desc">Rose.</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
      <img src="https://images.unsplash.com/photo-1593047833652-2ae65f74b22f?auto=format&fit=crop&q=80&w=1000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwcm9maWxlLWxpa2VkfDExfHx8ZW58MHx8fHx8" alt="white lotus" width="600" height="400" class="expandable-image">
      <div class="desc">White lotus!</div>
  </div>
</div>

<div class="responsive">
    <div class="gallery">
        <img src="https://plus.unsplash.com/premium_photo-1670515870917-7e6d5065dba1?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Zmxvd2VyJTIwaW4lMjB2YXNlfGVufDB8fDB8fHww" alt="pink rose" width="600" height="400" class="expandable-image">
        <div class="desc">Pink Rose</div>
    </div>
  </div>   

<div class="responsive">
    <div class="gallery">
        <img src="https://images.unsplash.com/photo-1534169256946-e453674146c3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE0fHx8ZW58MHx8fHx8&w=1000&q=80" alt="lotus bud" width="600" height="400" class="expandable-image">
        <div class="desc">Lotus bud!</div>
    </div>
</div>

<div class="responsive">
  <div class="gallery">
      <img src="https://images.unsplash.com/photo-1648625523393-587f7e209c26?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDExfHx8ZW58MHx8fHx8&w=1000&q=80" alt="tiny flowers" width="600" height="400" class="expandable-image">
      <div class="desc">Tiny,Pink Flowers</div>
  </div>
</div> 

<div class="responsive">
  <div class="gallery">
      <img src="https://images.unsplash.com/photo-1567878151693-c0493e064199?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEyfHx8ZW58MHx8fHx8&w=1000&q=80" alt="blossom" width="600" height="400" class="expandable-image">
      <div class="desc">Blossom!</div>
  </div>
</div>  
<div class="responsive">
  <div class="gallery">
      <img src="https://images.unsplash.com/photo-1613539246066-78db6ec4ff0f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwcm9maWxlLWxpa2VkfDE2fHx8ZW58MHx8fHx8&w=1000&q=80" alt="blue flowers" width="600" height="400" class="expandable-image">
      <div class="desc">Blue Flowers.</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
      <img src="https://images.unsplash.com/photo-1511255656699-6df8cf250a38?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="flowers" width="600" height="400" class="expandable-image">
      <div class="desc">Beautiful flowers</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
      <img src="https://images.unsplash.com/photo-1632839635910-928550e90a3f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE1fHx8ZW58MHx8fHx8&w=1000&q=80" alt="pink" width="600" height="400" class="expandable-image">
      <div class="desc">Pink Pink </div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
      <img src="https://i.pinimg.com/originals/04/6f/06/046f06f740ae7a74c964e458c1230af6.jpg" alt="shadespink" width="600" height="400" class="expandable-image">
      <div class="desc">shades of pink</div>
  </div>
</div>
<div class="logout">
  <a href="/logout">Logout</a>
</div>  

<script>
const expandableImages = document.querySelectorAll('.expandable-image');

expandableImages.forEach((image) => {
  image.addEventListener('click', () => {
    if (image.style.transform === 'scale(1.2)') {
      image.style.transform = 'scale(1)';
    } else {
      image.style.transform = 'scale(1.2)';
    }
  });
});
</script>
</body>
</html>